html { 
    scroll-behavior: smooth;
}

body{
    background: #eeecec;
    margin-bottom: 25px;
    background-image: linear-gradient(to top, #e9eaeb 0%, #eaefef 100%);
    background-color: white;
    background-size:contain;                     
    background-repeat:  no-repeat;
    background-position: center center;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    text-justify: auto;
    font-weight: 428;
    font-stretch: 200%;
    font-size: 17.5px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    /* display: flex; */
    
}

.main-container{
    display: grid;
    grid-template-columns: 70% 25%;
}

.nav-container{
    /* justify-content: center; */
    /* margin-left: 30px;
    margin-top: 10px; */
    position: sticky;
    top:0;
    flex: 1 1 auto;
    /* background-color: rgb(233, 163, 50); */
    background-color: #2ea788;
    /* background-image: linear-gradient(to right, #159474 40%, #a3c7bf 80%); */
    /* background-image: linear-gradient(to top, #217a52 0%, #5b9281 100%); */
    height: 28px;
    min-width: 1200px;
    color: rgb(6, 6, 6);
    z-index: 10;
    
}

#home-icon a:link,
#home-icon a:visited {
  color: rgb(42, 42, 43);
  font-size: 25px;
  text-decoration: none;
}

.info-sticky{
    padding: 10px;
    display: grid;
    /* width: 300px; */
    position: sticky;
    width:94%;
    top:20px;
    margin-top: 70px;
    /* max-width:23%; */
    grid-template-columns: 2fr auto;
    grid-template-rows: repeat(auto,12);
    height:84vh;
    row-gap: 4.5px;
    /* border: 1px solid grey; */
    margin-right: 39px;
    border-radius: 2px;
    border: 1.6px solid rgb(81, 105, 113);
    background-image: linear-gradient(to bottom, #d5ece7 0%, #e7e5d7 100%);
    box-shadow: 5px 5px 10px rgb(210, 210, 210),-5px -5px 10px rgb(207, 207, 207);
    transition: transform .22s ease-in-out,box-shadow .18s ease-in-out;
    transform: scale(1.0);
    margin-left: 8px;
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(40px); */
} 

/* .glass{
    background-image: url("images/crepe2.jpeg");
    width: 94%;
    height: 84vh;
} */

.info-sticky:hover{
    transform: scale(1.010);
    overflow: hidden;
    box-shadow: 7px 8px 18px rgb(210, 210, 210),-7px -8px 18px rgb(200, 199, 199);

}

.note{
    font-size: 12px;
    font-weight: 350;
    max-width: 100%;
    grid-column: 1/3;
    
}

.thin-border-info{
    height:0.8px;
    width: 100%;
    background-color: rgb(188, 195, 195);
    margin-bottom: -20px;
    /* margin-top: 60px;
    margin-bottom: 75px;*/
} 

.right-align{
    /* justify: content;: right; */
    text-align: right;

}

.container{
    margin-left: 080px;
    margin-right: 120px;
    display: grid;
    margin-top: 30px;
    min-width: 800px;
    padding: 20px;
    padding-right: 30px;
    align-self: start;
}

.below-title{
    display: inline-block;
    padding-right: 15px;
    padding-left: 0px;
    
}

.thin-border{
    height:2px;
    width: 100%;
    background-color: rgb(188, 195, 195);
    margin-top: 60px;
    margin-bottom: 75px;
    border-radius: 4px;
    
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    margin-top:60px;
    margin-bottom: 30px;
}

.thin-border-button{
    height: 0.5px;
    height:2px;
    border-radius: 4px;
    background-color: rgb(205, 210, 210);
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;
}

#source a:link,
#source a:visited
{
    color: black;
}



.jump-button-2{
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 18px;
    position: relative;
    z-index: 1;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    background-color: rgb(228, 197, 110);
    border: 0;
    font-weight: 450;
    background: linear-gradient(to left, rgb(228, 197, 110) 50%, #64b09d 50%) right;
    background-size: 200%;
    transition: 0.20s ease-out;
}

.jump-button-2:hover{
    cursor: pointer;
    background-color: rgb(238, 220, 168);
    background-position: left;
    /* color: rgb(44, 43, 43); */
}

.border-right{
    border-right: 1px solid grey;
    margin-right: 8px;
}

.nav-container{
    display: flex
}



.underline{
    text-decoration: underline;
}

.space-above{
    margin-top: 6px;
    display: inline-block;
}

li::marker{
    color: #358487;
}

.info-1{
    display: grid;
    background-color: rgb(234, 229, 200);
    grid-template-columns: 1fr 1fr 1fr;
    width:97%;
    column-gap: 14px;
    row-gap: 35px;
    padding:14px;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    border-radius: 6px;
    align-self: center;
    /* background-image: linear-gradient(to bottom, #bde0f5 0%, #5a5a5a 100%); */
}

.text-font{
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-health-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #cfd3d4;
    gap:8px;
    padding:16px;
    border-radius: 6px;
    /* background-image: linear-gradient(to right, #68aa99 20%, #bab1a3 80%); */
    background-color: #a2cdc3;
    box-shadow: 5px 5px 10px rgb(200, 198, 198);
    
}

img:hover{
    
    transform: scale(1.008);
    overflow: hidden;
    box-shadow: 8px 9px 18px rgb(173, 172, 172);
}

.crep{
    /* transform: scale(0.3); */
    /* position: relative; */
    left: -850px;
    top:-90px;
    height:460px;
    width:750px;
    object-fit: cover;
    border-radius: 4px;
    margin-top: 14px;
    margin-bottom: 14px;
    transition: transform .14s ease-in-out,box-shadow .18s ease-in-out;
    
    transform: scale(1.0);
    /*margin-left: -240px; */
    box-shadow: 6.5px 7px 10px rgb(188, 186, 186);
    
    
    
}

.prep{
    /* transform: scale(0.5); */
    height:430px;
    width:720px;
    object-fit: cover;
    margin-left: 0;
    border-radius: 4px;
    margin-top: 14px;
    margin-bottom: 14px;
    transition: transform 0.14s ease-in-out,box-shadow .18s ease-in-out;
    box-shadow: 6.2px 7px 10px rgb(188, 186, 186);
    transform: scale(1.0);
}

.bold{
    font-weight: 555;
}

