body{
    background: #eeecec;
    margin-bottom: 25px;
    background-image: linear-gradient(to top, #c5d5df 0%, #d2e3e4 100%);
    background-size:contain;                     
    background-repeat:  no-repeat;
    background-position: center center;

    
}



h1,.description{
    text-align: center;
    font-family: 'Amatic SC', serif;
    margin:12px;
}

h1{
    font-size: 60px;
    letter-spacing: 5px;
    
}

.description{
    /* margin-bottom: 65px;
    margin-top: -100px; */
    font-size: 40px;
    /* display: block; */
    letter-spacing: 5px;
    font-weight: 100;
    font-stretch: 150%;
    grid-column: 1/4;
}

.container{
    display: grid;
    grid-template-columns:repeat(2, minmax(400px,1fr));
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 80px;
    margin: auto 12px;
    
}

.item{
    display: grid;
    box-shadow: 7px 3px 20px rgba(184, 178, 178, 0.923);
    /* box-shadow: 4px 0px 20px rgb(190, 184, 184); */
    grid-template-columns:1fr 1.8fr;
    border-radius: 10px;
    /* -webkit-border-radius:10px; */
    background-color:white;
    overflow: hidden;
}

img{
    object-fit: cover;
    width: 110%;
    height: 480px;
    
    
}

.rec-title{
    display: flex;
    flex-direction: column;
    padding: 18px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    /* font-weight: 500; */

    /* letter-spacing: 5px; */

    
}

h3{
    font-weight: 500;
}

.arrow{
    transform: scale(0.28);
    margin:-330px -90px -130px -70px;
    width: 400px;
    height: 550px;
    flex:0 1 0;
}

.but{
    align-self: center;
    margin-bottom: 20px;
    width: 180px;
    height: 30px;
    
    
    /* margin-left: 5px; */
    
}

button{
    width: 100%;
    height: 100%;
    background-color: rgb(210, 183, 149);
    border-radius: 3px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

button:hover{
    background-color: rgb(221, 203, 183);
    cursor: pointer;
}

.above-button{
    flex: 1 1 0;
    font-weight: 300;
    font-size: 17px;
}

.logo{
    transform: scale(0.85);
    transition: transform 0.20s ease-in-out,filter 0.22s ease-in-out;
    /* margin:-680px auto -550px auto; */
    
    width: 100%;
    height: 100%;
    flex:0 1 0;
    align-self: center;
    filter: drop-shadow(16px 15px 50px #aaa9a9);
    align-self: center;
}

.logo-container{
    /* position: relative; */
    top:60px;
    left:620px;
    /* right:auto; */
    width: 100%;
    height: 10%;
    flex: 1 1 200px;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    justify-content: center;
    align-content: center;
    margin: 0;
    margin-bottom: 25px;

    

}

.logo:hover{
    transform: scale(0.93);
    filter: drop-shadow(22px 20px 150px #7e7e7e);

}

.food{
    transition: transform .45s;
    transform: scale(1.00);

}

.food:hover{
    
    transform: scale(1.045);
    overflow: hidden;
}